android/key.properties
android/app/*.jks
android/app/*.keystore
/build/
/.dart_tool/
/android/.gradle/
/android/app/build/
**/.cxx/
**/build/
/android/key.properties
/android/app/*.jks
/android/app/*.keystore
